In [1]:
import pandas as pd

In [2]:
books = pd.read_csv("booksummaries.txt", delimiter = "\t" )

In [3]:
books.columns = ["WikiID", "FreebaseID", "Title", "Author", "PubDate", "OrgGenre", "OrgSummary"]

In [4]:
books.head()

,WikiID,FreebaseID,Title,Author,PubDate,OrgGenre,OrgSummary
0,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
1,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
2,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...
3,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,NaN,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...
4,2152,/m/0x5g,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"{""/m/098tmk"": ""War novel"", ""/m/016lj8"": ""Roman...","The book tells the story of Paul Bäumer, a Ge..."

In [5]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16558 entries, 0 to 16557
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikiID      16558 non-null  int64
 1   FreebaseID  16558 non-null  object
 2   Title       16558 non-null  object
 3   Author      14176 non-null  object
 4   PubDate     10948 non-null  object
 5   OrgGenre    12840 non-null  object
 6   OrgSummary  16558 non-null  object
dtypes: int64(1), object(6)
memory usage: 905.6+ KB

In [6]:
books.isnull().sum()

WikiID           0
FreebaseID       0
Title            0
Author        2382
PubDate       5610
OrgGenre      3718
OrgSummary       0
dtype: int64

In [7]:
books.isna().sum()

WikiID           0
FreebaseID       0
Title            0
Author        2382
PubDate       5610
OrgGenre      3718
OrgSummary       0
dtype: int64

In [8]:
books.WikiID.duplicated().sum()

0

In [9]:
books.Title.duplicated().sum()

282

In [10]:
books = books.drop(columns = "FreebaseID")

In [11]:
books_dup = books[books[["Title","Author"]].duplicated(keep = False)]
print(books_dup["Title"])

39                              Genesis
199                        Ender's Game
1458                         Earthlight
4905     Mr. Monk Goes to the Firehouse
5905                         Earthlight
7083                           The Keep
7087                           The Keep
9475                          Peter Pan
11312                      Ender's Game
11638                      Killing Time
12619                      Killing Time
12737                         Peter Pan
13645    Mr. Monk Goes to the Firehouse
13930                           Genesis
16088                            Wither
16089                            Wither
Name: Title, dtype: object

In [12]:
books.iloc[7083,5]

' German soldiers and SS Einsatzkommandos alike are being slowly killed off in a mysterious castle (the "Keep" of the title) high in the Carpathian Mountains of Romania in April 1941. A Jewish History Professor living in Bucharest, Theodore Cuza, and his daughter Magda, are collected and delivered to the keep in a desperate effort by SS Sturmbannfuhrer Eric Kaempffer to find out what it is that is murdering the men and put a stop to it by any means necessary. The professor is useful in translating a mysterious message that has been written in blood on a wall of the keep in a forgotten dialect of Old Romanian or Old Slavonic. He is also tasked with finding a method of defeating the unknown evil that is wreaking havoc. This evil entity, which calls itself "Molasar", sees a certain usefulness in Professor Cuza and procures his services through deception and false promises. Molasar is later revealed to be Rasalom, an ancient sorcerer from the "First Age" of humans. Shortly, a reluctant champion of the ancient Forces of Light appears; an immortal man calling himself "Glenn", but whose real name is Glaeken. He built the Keep as a prison for Rasalom out of the reluctance to kill him outright. The two beings are mystically linked in a way that binds their destinies together, even though Rasalom\'s supernatural abilities vastly outmatch Glenn\'s innate abilities. Magda and Glenn meet and develop a relationship which quickly becomes romantic as Professor Cuza manipulates the German SS into arresting Glenn and bringing him into the Keep where he will be vulnerable to Rasalom\'s ever-increasing power. The scheme fails when Magda rescues Glenn from dying by bringing him his healing power-sword after he is riddled with bullets. Professor Cuza, meanwhile, is excitedly carrying Glenn\'s Talisman through the lower levels of Rasalom\'s 500-year-old prison and upwards toward the surface where the Professor plans to re-bury it according to Rasalom\'s instructions. Magda leaves Glenn to recuperate while intervening with her misguided father to keep him from crossing the perimeter of the fortress area, giving Glenn just enough time to arrive on scene where, after joining the Talisman to his power-sword, he is able to drive Rasalom backwards into the depths of the keep. Rasalom then uses his telekinetic abilities to launch an overwhelming assault against Glenn. Finally, Glenn prevails as Rasalom rashly launches himself bodily at his age-old enemy and is reduced to ashes by a single stroke from Glenn\'s sword. Glenn himself plummets onto the craggy rocks below as Rasalom\'s body decays into nothingness. However he reawakens to discover that he is now mortal, having vanquished his long-time foe, and he and Magda are reunited.'

In [13]:
books.iloc[7087,5]

' The Keep had stood empty in the Transylvanian Alps for some 500 years. No one knew who built it, or why. But on the eve of World War II, German soldiers moved in and awoke something—something hungry… something more merciless than the SS einsatzkommandos accompanying them.'

for i in range(len(books)):
    for j in range(len(books)) :
        if ( books.iloc[i,books.columns.get_loc("Title")] == books.iloc[j,books.columns.get_loc("Title")]  and books.iloc[i,books.columns.get_loc("Author")] == books.iloc[j,books.columns.get_loc("Author")] ) :
            dup_with_author.append(books.iloc[i])
               pd.isna( books.iloc[2,books.columns.get_loc("Author")]) == True

In [14]:
books.iloc[7087,books.columns.get_loc("Author")]

'F. Paul Wilson'

In [15]:
pd.isna( books.iloc[2,books.columns.get_loc("Author")])

False

In [16]:
df = pd.DataFrame()

In [17]:
df = pd.concat([df , books.iloc[[7087]] ])
df

,WikiID,Title,Author,PubDate,OrgGenre,OrgSummary
7087,6035643,The Keep,F. Paul Wilson,NaN,"{""/m/03npn"": ""Horror"", ""/m/02xlf"": ""Fiction"", ...",The Keep had stood empty in the Transylvanian...

In [18]:
df3 = books.iloc[[7087]]
df3

,WikiID,Title,Author,PubDate,OrgGenre,OrgSummary
7087,6035643,The Keep,F. Paul Wilson,NaN,"{""/m/03npn"": ""Horror"", ""/m/02xlf"": ""Fiction"", ...",The Keep had stood empty in the Transylvanian...

In [19]:
books.isnull().sum()

WikiID           0
Title            0
Author        2382
PubDate       5610
OrgGenre      3718
OrgSummary       0
dtype: int64

In [20]:
books[["Author", "PubDate", "OrgGenre"]].isnull().sum()

Author      2382
PubDate     5610
OrgGenre    3718
dtype: int64

In [21]:
i = 0 
books_3null = pd.DataFrame()
for i in range(len(books)) :
    if  ( pd.isna( books.iloc[i,books.columns.get_loc("Author")]) and 
          pd.isna( books.iloc[i,books.columns.get_loc("PubDate")]) and 
          pd.isna( books.iloc[i,books.columns.get_loc("OrgGenre")]) ) :
        books_3null = pd.concat([books_3null , books.iloc[[i]] ] )

In [22]:
books_3null

,WikiID,Title,Author,PubDate,OrgGenre,OrgSummary
9,4331,Book of Joshua,NaN,NaN,NaN,(Chapter 1 is the first of three important mo...
10,4332,Book of Ezra,NaN,NaN,NaN,"For the Bible text, see Bible Gateway (opens ..."
11,4376,Book of Numbers,NaN,NaN,NaN,"God orders Moses, in the wilderness of Sinai,..."
12,4381,Book of Ruth,NaN,NaN,NaN,During the time of the Judges when there was ...
13,4382,Book of Esther,NaN,NaN,NaN,"Ahasuerus, ruler of a massive Persian empire,..."
...,...,...,...,...,...,...
16438,33944298,Rogue Leaders: The Story of LucasArts,NaN,NaN,NaN,The book aims to tell the history of the firs...
16452,34052275,La inocencia castigada,NaN,NaN,NaN,"Don Diego, a womanizing knight, falls in love..."
16463,34183501,Ente Katha,NaN,NaN,NaN,"This book is about Aami (Kamala), starting fr..."
16539,35802230,De vierde man,NaN,NaN,NaN,The novel is a frame narrative: a writer name...
16542,36043883,Family,NaN,NaN,NaN,The Family focuses on three brothers from the...

In [23]:
# i will not remove this ,
# 1. ill find the CaculatedGenre from summary
# 2. ill find the Author and PubDate using webscraping .

In [24]:
# converting genre into clean ( originally its in json)

In [25]:
import json
test = books

In [26]:
test[["Author", "PubDate", "OrgGenre"]].isnull().sum()

Author      2382
PubDate     5610
OrgGenre    3718
dtype: int64

In [27]:
test = test.fillna(" ")

In [28]:
test["OrgGenre"].values[3]

'{"/m/03lrw": "Hard science fiction", "/m/06n90": "Science Fiction", "/m/014dfn": "Speculative fiction", "/m/01hmnh": "Fantasy", "/m/02xlf": "Fiction"}'

In [29]:
test[["Author", "PubDate", "OrgGenre"]].isnull().sum()

Author      0
PubDate     0
OrgGenre    0
dtype: int64

In [30]:
test["OrgGenre"].values[3]

'{"/m/03lrw": "Hard science fiction", "/m/06n90": "Science Fiction", "/m/014dfn": "Speculative fiction", "/m/01hmnh": "Fantasy", "/m/02xlf": "Fiction"}'

In [31]:
test['OrgGenre'] = test['OrgGenre'].astype("string")

json.loads(test["OrgGenre"].values[3]).values()

dict_values(['Hard science fiction', 'Science Fiction', 'Speculative fiction', 'Fantasy', 'Fiction'])

In [32]:
clean = []
for i in range(len(test)):
    str4 = test["OrgGenre"].values[i]
    if str4 != ' ' :
        #clean = pd.concat(clean, json.loads(str4).values() )
        clean.append(list(json.loads(str4).values()))
    else :
        #clean = pd.concat(clean, " ")
        clean.append(" ")

In [33]:
# addig this column in our dataset 
books = books.drop(["OrgGenre"], axis = 1)

In [34]:
books.insert(4, "Genre", clean)

In [35]:
books.head()

,WikiID,Title,Author,PubDate,Genre,OrgSummary
0,843,A Clockwork Orange,Anthony Burgess,1962,"[Science Fiction, Novella, Speculative fiction...","Alex, a teenager living in near-future Englan..."
1,986,The Plague,Albert Camus,1947,"[Existentialism, Fiction, Absurdist fiction, N...",The text of The Plague is divided into five p...
2,1756,An Enquiry Concerning Human Understanding,David Hume,NaN,,The argument of the Enquiry proceeds by a ser...
3,2080,A Fire Upon the Deep,Vernor Vinge,NaN,"[Hard science fiction, Science Fiction, Specul...",The novel posits that space around the Milky ...
4,2152,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"[War novel, Roman à clef]","The book tells the story of Paul Bäumer, a Ge..."

In [36]:
#cleaning summary

In [37]:
import re

In [38]:
def clean_sum (text) :
    text = re.sub("\'", "", text)
    text = re.sub("^a-zA-Z", " ", text)
    text = ' '.join(text.split())
    text = text.lower()
    return text

In [39]:
test["Summary"] = test["OrgSummary"].apply(lambda x: clean_sum(x))

In [40]:
books["Summary"] = test["Summary"]

In [41]:
books.head()

,WikiID,Title,Author,PubDate,Genre,OrgSummary,Summary
0,843,A Clockwork Orange,Anthony Burgess,1962,"[Science Fiction, Novella, Speculative fiction...","Alex, a teenager living in near-future Englan...","alex, a teenager living in near-future england..."
1,986,The Plague,Albert Camus,1947,"[Existentialism, Fiction, Absurdist fiction, N...",The text of The Plague is divided into five p...,the text of the plague is divided into five pa...
2,1756,An Enquiry Concerning Human Understanding,David Hume,NaN,,The argument of the Enquiry proceeds by a ser...,the argument of the enquiry proceeds by a seri...
3,2080,A Fire Upon the Deep,Vernor Vinge,NaN,"[Hard science fiction, Science Fiction, Specul...",The novel posits that space around the Milky ...,the novel posits that space around the milky w...
4,2152,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"[War novel, Roman à clef]","The book tells the story of Paul Bäumer, a Ge...","the book tells the story of paul bäumer, a ger..."

In [42]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
from nltk.corpus import stopwords

In [45]:
df = books.copy()

In [46]:
df.fillna("--NotAvailable--")
df["Genre"].replace(" ", "--NotAvailable--")

0        [Science Fiction, Novella, Speculative fiction...
1        [Existentialism, Fiction, Absurdist fiction, N...
2                                         --NotAvailable--
3        [Hard science fiction, Science Fiction, Specul...
4                                [War novel, Roman à clef]
                               ...
16553                                     --NotAvailable--
16554                                  [Thriller, Fiction]
16555                                      [Autobiography]
16556                                     --NotAvailable--
16557              [Epistolary novel, Speculative fiction]
Name: Genre, Length: 16558, dtype: object

In [47]:
df["GenreString"] = df["Genre"].apply(lambda x: ' '.join(x))

In [48]:
df["combined_text"] = df["Summary"] + " " + df["Author"] + " " + df["GenreString"]

In [49]:
tf = TfidfVectorizer(analyzer = "word", ngram_range = (1,2), min_df = 0, stop_words = 'english')

In [50]:
tfidf_matrix = tf.fit_transform(df['combined_text'].values.astype("str"))

In [51]:

tfidf_matrix

<16558x2566210 sparse matrix of type '<class 'numpy.float64'>'
	with 5411467 stored elements in Compressed Sparse Row format>

In [52]:
cosine = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [53]:
def get_title_from_index(Index) :
    return df[df.Index == Index]["Title"].values[0]

def get_index_from_title(Title) :
    return df[df.Title == Title]["Index"].values[0]

def get_recommendations(book) :
    book_index = get_index_from_title(book)
    similar_books = list(enumerate(cosine[book_index]))
    sortedbooks = sorted(similar_books, key = lambda x:x[1] , reverse = True)[1:]
    i = 0
    for book in sortedbooks:
        print(get_title_from_index(book[0]) + " : " + df.Author[df["Index"] == book[0]] )
        i = i+1 
        if i > 10 :
            break

In [54]:
print(get_recommendations("The Stand"))

KeyError: 'Index'

In [ ]:
index = list(range(1,len(df)+1))

In [ ]:
df.insert(0,"Index", index)

In [ ]:
df.head()

In [ ]:
i = 2231
df[df.Index == i]

In [ ]:
df["combined_text"].isnull().sum()

In [ ]:
print(get_recommendations("A Clockwork Orange"))

In [ ]:
df.to_csv('rsdf.csv')

In [ ]:
books.to_csv('rsbooks.csv')